<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.denso.iflink.virtualcar">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cutecar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ims_3rd_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="jp.co.denso.iflink.virtualcar.VirtualCarDeviceSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/config_virtualcardevice_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="jp.co.toshiba.iflink.AndroidService" />
            </intent-filter>
        </activity>
        <!-- IMS PermissionActivity -->
        <activity android:name="jp.co.toshiba.iflink.ui.PermissionActivity" />

        <service
            android:name="jp.co.denso.iflink.virtualcar.VirtualCarIms"
            android:enabled="true"
            android:exported="true"
            android:process=":VirtualCarIms">
            <intent-filter>
                <action android:name="jp.co.toshiba.iflink.AndroidService" />
                <action android:name="jp.co.denso.iflink.virtualcar.VirtualCarIms" />
            </intent-filter>

            <meta-data
                android:name="serviceName"
                android:value="VirtualCarService" />
            <meta-data
                android:name="description"
                android:value="ifLink Micro Service." />
        </service>
    </application>

</manifest>